body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding-bottom: 60px;
}

header {
    background-color: #B2A0DF;
    color: white;
    padding: 20px;
    font-size: 20px;
}

p {
    color: black;
    font-size: 14px;
}

.precio-producto {
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #CCE6E0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.oculto {
    display: none;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: 20px black; 
}
   
label {
    display: block;
    margin-top: 10px;
}
  
input {
    width: 98%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}


.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 18px;
}

.precio {
    margin: 50px;
}

.producto {
    background-color: white;
    padding: 15px;
    margin: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.producto button{
    background-color: #CCE6E0;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    border: none;
    font-size: 15px;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto:hover {
    transform: scale(1.03);
}

.boton-carrito {
    position: fixed;
    bottom: 20px;
    right: 25px;
    background-color: #B2A0DF;
    padding: 17px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.boton-carrito:hover{
    transform: scale(1.07);
}

.carrito {
    position: fixed;
    top: 0;
    right: -3400px;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    padding-right: 120px;
    z-index: 999;
    overflow-y: auto;
}

.total {
    margin-left: 40px;
    width: 100%;
}

.finalizarcompra {
    margin-bottom: 20%; 
    margin-left: 30px;
    width: 90%;
}
.carrito.active{
    right: 0;
}

.carrito h2 {
    margin-left: 35px;
    margin-top: 35px;
}

.cosas-del-carrito {
    font-size: 0.95rem;
    color: #333;
}

.cantidaddeproductos {
    width: 50%;
    margin: 10px auto; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

